Portfolio/TechStationServiceManager/STO_Man_WcfService/StoDescktopClient/Connected Services/ReferenceToWcf_GetServices/StoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="StationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfServedCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServedCar" nillable="true" type="tns:ServedCar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServedCar" nillable="true" type="tns:ArrayOfServedCar" />
  <xs:complexType name="ServedCar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarBrand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarYear" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceCompletDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServedCar" nillable="true" type="tns:ServedCar" />
  <xs:complexType name="ArrayOfSummaryByStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SummaryByStation" nillable="true" type="tns:SummaryByStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSummaryByStation" nillable="true" type="tns:ArrayOfSummaryByStation" />
  <xs:complexType name="SummaryByStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarBrand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarYear" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceCompleteDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SummaryByStation" nillable="true" type="tns:SummaryByStation" />
  <xs:complexType name="ArrayOfSummaryByAllStations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SummaryByAllStations" nillable="true" type="tns:SummaryByAllStations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSummaryByAllStations" nillable="true" type="tns:ArrayOfSummaryByAllStations" />
  <xs:complexType name="SummaryByAllStations">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountCompletedServices" type="xs:int" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SummaryByAllStations" nillable="true" type="tns:SummaryByAllStations" />
</xs:schema>