Portfolio/TechStationServiceManager/STO_Man_WcfService/StoDescktopClient/Connected Services/ReferenceToWcf_GetServices/StoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62556/StoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" />
  <xs:element name="SelectStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectStationsResult" nillable="true" type="q1:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectStationResult" nillable="true" type="q2:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="station" nillable="true" type="q3:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="CreateStationResult" nillable="true" type="q4:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="station" nillable="true" type="q5:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="UpdateStationResult" nillable="true" type="q6:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="station" nillable="true" type="q7:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="CreateOrUpdateStationResult" nillable="true" type="q8:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="station" nillable="true" type="q9:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectServicesResult" nillable="true" type="q10:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectServiceResult" nillable="true" type="q11:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="service" nillable="true" type="q12:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="CreateServiceResult" nillable="true" type="q13:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="service" nillable="true" type="q14:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="UpdateServiceResult" nillable="true" type="q15:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="service" nillable="true" type="q16:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="CreateOrUpdateServiceResult" nillable="true" type="q17:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="service" nillable="true" type="q18:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectServedCarsResult" nillable="true" type="q19:ArrayOfServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="servedCarId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectServedCarResult" nillable="true" type="q20:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServedCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="servedCar" nillable="true" type="q21:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServedCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="CreateServedCarResult" nillable="true" type="q22:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServedCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="servedCar" nillable="true" type="q23:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServedCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="UpdateServedCarResult" nillable="true" type="q24:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateServedCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="servedCar" nillable="true" type="q25:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateServedCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="CreateOrUpdateServedCarResult" nillable="true" type="q26:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServedCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="servedCar" nillable="true" type="q27:ServedCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServedCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCarsByStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCarsByStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectServedCarsByStationResult" nillable="true" type="q28:ArrayOfSummaryByStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCarsByAllStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServedCarsByAllStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/STO_Man_WcfService.Model" minOccurs="0" name="SelectServedCarsByAllStationResult" nillable="true" type="q29:ArrayOfSummaryByAllStations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFirstData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFirstDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>